{% extends 'base.html' %}

{% block content %}
<h1>Summary</h1>
<hr>
<div>
    <div>
        <h4>Input</h4>
        <div style="white-space: pre-wrap;">{{ input }}</div>
    </div>
    <br>
    <div>
        <h4>Output</h4>
        <div style="white-space: pre-wrap;">{{ output }}</div>
    </div>
    <br>
    <div>
        {% if filename %}
            <h4>Audio</h4>
            <audio controls src="{{ url_for('static', filename='audio/') }}{{ filename }}.mp3">
                    <a href="{{ url_for('static', filename='audio/') }}{{ filename }}.mp3">
                        Download audio
                    </a>
            </audio>
        {% endif %}
    </div>
    <br>
    <p><b>Converted on:</b> {{ timestamp }}</p>
</div>
{% endblock %}