body{
    background-color: #FAF9F6
}

body#Home{
    background-image: url("HMOBG.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div#homeJumbo{
    background-color: #212529;
    color: #FFFFFF;
}

img#logo{
    width: 250px;
}

textarea#input{
    background-color: #FFFFFF;
}

p#urlError{
    color: #dc3545;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
    transition: opacity 0.25s, visibility 0.25s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #0d6efd;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}