<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Main Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>HearMeOut Text Summariser</h1>
        <p>Enter your text in the input field below</p>
        <script src="index.js"></script>
        <form action="/summary" method="get">
            <textarea name="input" autocomplete="off" autofocus placeholder="Enter Text" type="text" rows="10" cols="50"></textarea>
            <button type="submit">Summarise</button>

        </form>
    </body>
</html>