{% extends "layout.html" %}
{% block title %}Main Page{% endblock %}
{% block body %}
    <h1>HearMeOut Text Summariser</h1>
    <p>Enter your text in the input field below</p>
    <form action="/summary" method="post">
        <textarea name="input" autocomplete="off" autofocus placeholder="Enter Text" type="text" rows="10" cols="50"></textarea>
        <button type="submit">Summarise</button>
    </form>

    <a href="{{ url_for('saved') }}" title="View saved conversions">View saved conversions</a> 
{% endblock %}