{% extends "layout.html" %}
{% block title %}Summary{% endblock %}
{% block body %}
    <h1>Submitted Form Data</h1>
    <h2>Raw Input received as:</h2>
    <div style="white-space: pre-wrap;">{{ input }}</div>
    <h2>Summarized Input:</h2>
    <div style="white-space: pre-wrap;">{{ output }}</div>
    <h2>Audio File</h2>
    <audio
    controls
    src={{ url_for('static', filename=audio) }}>
        <a href={{ url_for('static', filename=audio) }}>
            Download audio
        </a>
    </audio>
{% endblock %}
